// VARIABLES
// FONTS
$main-font: 'Inconsolata', monospace;
$title-font: 'Lato', sans-serif;
$code-font: 'Courier New', Courier, monospace;

// COLORS
$pink: #EF4470;
$dark-blue: #363643;
$cream: #fcfcfc;
$almost-white: #f8f8ff;
$white: #fff;
$lightgray: #d8d8d8;

.image-cta {
  border-radius: 200px;
  box-sizing: border-box;
  border: 3px solid $pink;
}

// STYLES
* {
  transition: all .1s linear;
}

::-moz-selection {
  color: $white;
  background: $dark-blue;
}

::selection {
  color: $white;
  background: $dark-blue;
}

body {
  font-family: $main-font;
  font-size: 20px;

  overflow-x: hidden;

  margin: 0;
  padding: 0;

  hyphens: auto;

  text-rendering: optimizeLegibility;
}

a {
  padding: 2px;

  text-decoration: none;

  color: $pink;
  border-bottom: 1px solid $pink;
  box-shadow: inset 0 -3px 0 $pink;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $white;
    background-color: $pink;
  }
}

h2 {
  position: relative;

  display: inline-block;

  &:before {
    position: absolute;
    right: -24px;
    bottom: -3px;

    width: 22px;
    height: 1px;

    content: '';
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    animation: blink-animation 1s steps(5, start) infinite;

    border-bottom: 5px solid $dark-blue
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.row {
  @media(max-width: 600px) {
    margin-right: 0;
    margin-left: 0;
  }
}

.marginbottom {
  margin-bottom: 30px;
}

section {
  margin-bottom: 50px;
  padding-top: 40px;

  outline: none;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.small {
  font-size: 12px;
}

header {
  position: absolute;
  z-index: 1000;

  width: 100%;
  height: 50px;
  padding: 10px;

  color: $white;;

  &.affix {
    opacity: 1;
    background-color: $dark-blue;
  }

  .logo {
    font-family: $title-font;
    font-weight: 700;

    float: left;

    margin-left: 20px;

    text-align: left;

    a {
      color: $white;
    }
  }

  nav {
    text-align: right;
    hyphens: none;

    ul {
      display: inline-block;

      padding-right: 20px;
      padding-left: 20px;

      li {
        display: inline-block;

        margin-right: 10px;
        margin-left: 10px;

        a {
          font-size: .8em;

          color: $white;

          &:focus {
            text-decoration: none;

            color: $white;
          }
        }
      }
    }
  }

  #menuToggle {
    position: relative;
    z-index: 1;
    top: 7px;
    right: 20px;

    display: none;
    float: right;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    position: absolute;
    z-index: 2; /* and place it over the hamburger */
    top: -7px;
    left: -5px;

    display: block;

    width: 40px;
    height: 32px;

    cursor: pointer;

    opacity: 0; /* hide this */

    -webkit-touch-callout: none;
  }

  /*
* Just a quick hamburger
*/
  #menuToggle span {
    position: relative;
    z-index: 1;

    display: block;

    width: 33px;
    height: 4px;
    margin-right: -10px;
    margin-bottom: 5px;

    transition: transform .5s cubic-bezier(.77, .2, .05, 1.0),
    background .5s cubic-bezier(.77, .2, .05, 1.0),
    opacity .55s ease;
    transform-origin: 4px 0;

    border-radius: 3px;
    background: $pink;
  }

  #menuToggle span:first-child {
    transform-origin: 0 0;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  /*
* Transform all the slices of hamburger
* into a crossmark.
*/
  #menuToggle input:checked ~ span {
    transform: rotate(45deg) translate(-2px, -1px);

    opacity: 1;
    background: $pink;
  }

  /*
* But let's hide the middle one.
*/
  #menuToggle input:checked ~ span:nth-last-child(3) {
    transform: rotate(0deg) scale(.2, .2);

    opacity: 0;
  }

  /*
* Ohyeah and the last one should go the other direction
*/
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
* Make this absolute positioned
* at the top left of the screen
*/
  #menu {
    position: absolute;
    //width: 300px;

    display: none;

    margin: -100px 0 0 -50px;
    padding: 20px;
    padding-top: 100px;

    list-style-type: none;

    transition: transform .5s cubic-bezier(.77, .2, .05, 1.0);
    transform: translate(100%, 0);
    /* to stop flickering of text in safari */
    transform-origin: 0 0;

    background-color: $dark-blue;

    -webkit-font-smoothing: antialiased;
  }

  #menu li {
    font-size: 22px;

    display: block;

    padding: 10px 0;
  }

  /*
* And let's slide it in from the left
*/
  #menuToggle input:checked ~ ul {
    display: inline-block;

    transform: translate(-57%, 0);
  }
}

#landing {
  position: relative;
  z-index: 10;

  padding-top: 30px;
  //padding-bottom: 200px;
  // transform: skewY(-4deg);
  // transform-origin: bottom left;

  color: $white;

  &.coc {
    max-height: 380px;
    margin-bottom: 30px;

    background: $dark-blue;
  }
}

#landing .container {
  // transform: skewY(4deg);
  // transform-origin: bottom left;
}

.withback {
  height: 100px;
  margin-top: 70px;

  background-repeat: no-repeat;
  background-position: center;
}

.logo img {
  width: 80%;
}

.title,
.subtitle {
  font-family: $title-font;
}

.title {
  font-size: 80px;
  font-weight: 900;
  line-height: 96px;

  display: inline-block;
}

.subtitle {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 40px;
}

#info {
  margin: 100px 0 50px 0;
}

.info-subtitle {
  font-family: $title-font;
  font-size: 2em;
  font-weight: 700;
  line-height: 40px;

  color: $dark-blue;
  @media(max-width: 600px) {
    font-size: 1.8em;
  }
}

.info-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  margin: 20px 0 20px 0;

  color: $dark-blue;
}

.low-spacing {
  margin: 10px 0 10px 0;
}

.medium-spacing {
  margin: 50px 0 50px 0;
}

ul {
  padding-left: 0;

  list-style-type: none;
}

.footer {
  font-size: .8em;

  padding: 5px;

  background-color: $dark-blue;

  a {
    color: $white;
  }
}

.cta {
  font-size: 1.1em;

  display: block;

  min-width: 300px;
  max-width: 300px;
  margin: 50px auto auto;
  padding: 15px;

  text-align: center;

  color: $white;
  border-bottom: none;
  border-radius: 100px;
  background-color: $pink;
  box-shadow: none;

  &:hover {
    background-color: darken($pink, 7%);
  }

  &:focus {
    text-decoration: none;

    color: $white;
  }
}

.text {
  text-align: left;
}

.subscribe {
  font-size: 16px;

  width: 250px;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;

  border: 2px solid $pink;
  border-radius: 24px;
  outline: 0;
}

.subscribe-submit {
  font-size: .8em;

  width: 120px;
  margin-bottom: 10px;
  padding: 5px;

  color: $white;
  border-color: transparent;
  border-radius: 24px;
  outline: 0;
  background: $pink;
}

.newsletter {
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;

  color: $white;
  background-color: $dark-blue;

  .call-to-subscribe {
    line-height: 26px;
  }


  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $lightgray;
  }

  :-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: $lightgray;
  }

  ::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: $lightgray;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $lightgray;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $lightgray;
  }

}

.dirty {
  font-family: $title-font;
  font-size: 1.3em;
  font-weight: 700;

  color: $dark-blue;
}

.homepage-hero-module {
  position: relative;

  //min-height: 800px;

  border-right: none;
  border-left: none;
  @media(max-width: 600px) {
    //min-height: 600px;
  }
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
  //max-height: 85vh;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  @media(max-width: 800px) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  //background: $violet;
}

.video-container .poster img {
  position: absolute;
  bottom: 0;

  width: 100%;
}

.video-container .filter {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  //opacity: .6;
  background-color: $dark-blue;
}

.video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
}

.video-container video.fillWidth {
  //width: 100%;
}

.venue-icon {
  margin-top: 50px;

  img {
    max-width: 250px;
  }
}

.speaker {
  text-align: center;

  h3 {
    font-family: $title-font;
    font-size: 1.2em;
    font-weight: 700;

    margin-top: 30px;
    margin-bottom: 30px;

    color: $dark-blue;
  }

  .bio {
    font-size: .8em;

    text-align: left;
  }

  .tags {
    span {
      font-size: 12px;

      display: inline-block;

      margin-right: 10px;
      padding: 2px;
      padding-right: 8px;
      padding-left: 8px;

      color: #fff;
      border-radius: 20px;

      &.charla {
        background-color: $dark-blue;
      }

      &.taller {
        background-color: $dark-blue;
      }

      &.kata {
        background-color: $dark-blue
      }
    }
  }
}

#ticketea {
  padding-bottom: 60px;

  background-color: $almost-white;
}

.ticketea {
  a {
    border: none;
    box-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) {
  .title {
    font-size: 60px;
  }
  .menu-desktop {
    display: none;
  }
  header {
    #menuToggle {
      display: block;
    }
  }
  .newsletter {
    text-align: center;

    input {
      display: block;

      margin: auto;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .video-container {
    max-height: 100%;
  }
  #landing {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  #landing {
    padding-bottom: 0;

    .logo {
      margin-top: 80px;
    }

    .withback {
      display: none;
    }

    .subtitle {
      font-size: 1em;
    }
  }
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;

  vertical-align: bottom;
}

.directions {
  margin-top: 30px;

  li {
    margin-bottom: 20px;
  }
}

.map {
  iframe {
    width: 100%;
  }
}

.avatar {
  max-width: 160px;
  border-radius: 50%;
}

.twitter {
  font-size: 1em;

  margin-top: -20px;
}

#who {
  img {
    display: inline-block;
  }
}

#sponsors {
  text-align: center;

  .col {
    text-align: center;
  }

  img {
    display: inline-block;
  }

  .patro {
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $almost-white;
  }

  .sponsor {
    align-items: center;
    margin-bottom: 30px;

    h4 {
      margin-bottom: 20px;
    }
  }

  .sponsor a {
    border: none;
    box-shadow: none;
    text-shadow: none;

    &:hover {
      opacity: .8;
      background-color: transparent;
      box-shadow: none;
    }

    &:focus {
      background-color: transparent;
    }
  }

  .sponsor-row {
    display: flex;
    align-items: center;
  }

  h3 {
    font-weight: 700;

    margin-bottom: 40px;
  }

  .spo {
    margin-bottom: 40px;
  }
}

.content {
  font-size: .8em;

  margin-bottom: 40px;

  text-align: left;
}

#contents {
  padding-bottom: 40px;

  background-color: $almost-white;

  .row {
    padding: 10px;
  }

  h3 {
    font-family: $title-font;
    font-size: 1.2em;
    font-weight: 700;

    margin-top: 30px;
    margin-bottom: 20px;

    color: $dark-blue;
  }

  h4 {
    font-weight: 700;
    font-style: italic;

    margin-bottom: 10px;
    padding-bottom: 20px;

    color: $dark-blue;
    border-bottom: 1px solid $dark-blue;

    &.charla {
      color: $dark-blue;
      border-color: $dark-blue;
    }

    &.taller {
      color: $dark-blue;
      border-color: $dark-blue;
    }

    &.kata {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }

  h5 {
    font-size: 1em;
    font-weight: 700;
  }

  .cont-item {
    margin-bottom: 50px;
  }

  .cont {
    font-size: .8em;

    text-align: left;

    strong {
      display: block;

      margin-top: 15px;
    }
  }

  .tags {
    margin-top: 30px;
    margin-bottom: 40px;

    span {
      font-size: 18px;

      display: block;

      margin-right: 10px;
      padding: 4px 8px;

      color: #fff;
      border-radius: 20px;

      &.charla {
        background-color: $dark-blue;
      }

      &.taller {
        background-color: $dark-blue;
      }

      &.kata {
        background-color: $dark-blue
      }
    }
  }
}

.code {
  font-family: $code-font;
}