// VARIABLES
// FONTS
$main-font: 'Inconsolata', monospace;;
$title-font: 'Lato', sans-serif;
// COLORS
$text-color: #60779d;
$green: #74ddc5;
$orange: #f4c18d;
$pink: #ff73b3;
$lightblue: #86c1ed;
$lightviolet: #8390ec;
$red: #e87364;
$blue: #4b8ce8;
$violet: #5154aa;
$cream: #fcfcfc;
$almostwhite: #f8f8ff;
$white: #fff;
$lightgray: #d8d8d8;
$ctagreen: #c1d82f;

// STYLES
* {
    transition: all .2s ease-in-out;
}
::-moz-selection {
    color: $text-color;
    background: yellow;
}
::selection {
    color: $text-color;
    background: yellow;
}
body {
    font-family: $main-font;
    font-size: 20px;

    overflow-x: hidden;

    margin: 0;
    padding: 0;

    color: $text-color;

    text-rendering: optimizeLegibility;
}
a {
    padding: 2px;

    text-decoration: none;

    color: $pink;
    border-bottom: 1px solid $pink;
    box-shadow: inset 0 -3px 0 $pink;
    &:hover {
        text-decoration: none;

        color: $white;
        background-color: $pink;
    }
}
h2 {
    position: relative;

    display: inline-block;
    &:before {
        position: absolute;
        right: -24px;
        bottom: -3px;

        width: 22px;
        height: 1px;

        content: '';
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
                animation: blink-animation 1s steps(5, start) infinite;

        border-bottom: 5px solid $lightviolet;
    }
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

section {
    margin-bottom: 50px;
    padding-top: 40px;

    outline: none;
}


p {
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
}
header {
    position: absolute;
    z-index: 1000;

    width: 100%;
    height: 50px;
    padding: 10px;

    color: $white;;
    &.affix {
        opacity: 1;
        background-color: $violet;
    }
    .logo {
        font-family: $title-font;
        font-weight: 700;

        float: left;

        margin-left: 20px;

        text-align: left;
        a {
            color: $white;
        }
    }
    nav {
        text-align: right;
        ul {
            display: inline-block;

            padding-right: 20px;
            padding-left: 20px;
            li {
                display: inline-block;

                margin-right: 10px;
                margin-left: 10px;
                a {
                    font-size: .8em;

                    color: $white;
                    &:focus {
                        text-decoration: none;

                        color: $white;
                    }
                }
            }
        }
    }
    #menuToggle {
        position: relative;
        z-index: 1;
        top: 7px;
        right: 20px;

        display: none;
        float: right;

        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    #menuToggle input {
        position: absolute;
        z-index: 2; /* and place it over the hamburger */
        top: -7px;
        left: -5px;

        display: block;

        width: 40px;
        height: 32px;

        cursor: pointer;

        opacity: 0; /* hide this */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        position: relative;
        z-index: 1;

        display: block;

        width: 33px;
        height: 4px;
        margin-right: -10px;
        margin-bottom: 5px;

        transition: transform .5s cubic-bezier(.77,.2,.05,1.0),
        background .5s cubic-bezier(.77,.2,.05,1.0),
        opacity .55s ease;
        transform-origin: 4px 0;

        border-radius: 3px;
        background: $green;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    /*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        transform: rotate(45deg) translate(-2px, -1px);

        opacity: 1;
        background: $lightblue;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        transform: rotate(0deg) scale(.2, .2);

        opacity: 0;
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        //width: 300px;
		display: none;

        margin: -100px 0 0 -50px;
        padding: 20px;
        padding-top: 100px;

        list-style-type: none;

        transition: transform .5s cubic-bezier(.77,.2,.05,1.0);
        transform: translate(100%, 0);
        /* to stop flickering of text in safari */
        transform-origin: 0 0;

        background-color: $violet;

        -webkit-font-smoothing: antialiased;
    }

    #menu li {
        font-size: 22px;

        display: block;

        padding: 10px 0;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: translate(-57%, 0);
		display: inline-block;
    }
}
#landing {
    position: relative;
    z-index: 10;

    padding-top: 30px;
    padding-bottom: 200px;
    // transform: skewY(-4deg);
    // transform-origin: bottom left;

    color: $white;
    &.coc {
        max-height: 380px;
        margin-bottom: 30px;

        background: $violet;
    }
}

#landing .container {
    // transform: skewY(4deg);
    // transform-origin: bottom left;
}

#party-decoration {
    margin: 50px 0 50px 0;
}
.withback {
    height: 100px;
    margin-top: 70px;

    background-image: url('img/decoration.png');
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    /*white-space: nowrap;*/
}
.title,
.subtitle {
    font-family: $title-font;
}

.title {
    font-size: 80px;
    font-weight: 900;
    line-height: 96px;

    display: inline-block;
}

.title-swirl {
    margin: 0 20px 0 20px;

    vertical-align: baseline;
}

.subtitle {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 40px;
}



.skewed-background {
    position: relative;
    z-index: 100;

    margin-top: -125px;
    img {
        max-width: 850px;
        @media(max-width: 880px) {
            max-width: 90%;
        }
    }
    @media(max-width: 880px) {
        margin-top: -100px;
    }
    @media(max-width: 650px) {
        margin-top: -40px;
    }
}

#info {
    margin: 100px 0 100px 0;
}

.info-subtitle {
    font-family: $title-font;
    font-size: 2em;
    font-weight: 700;
    line-height: 40px;

    color: $violet;
    @media(max-width: 600px) {
        font-size: 1.8em;
    }
}

.info-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    margin: 20px 0 20px 0;

    color: $violet;
}

.low-spacing {
    margin: 10px 0 10px 0;
}

.medium-spacing {
    margin: 50px 0 50px 0;
}

ul {
    padding-left: 0;

    list-style-type: none;
}
.footer {
    font-size: .8em;

    padding: 20px;
}
.cta {
    font-size: 1.1em;

    display: block;

    min-width: 300px;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 15px;

    text-align: center;

    color: $white;
    border-bottom: none;
    border-radius: 100px;
    background-color: $ctagreen;
    box-shadow: none;
    &:hover {
        background-color: darken($ctagreen, 7%);
    }
    &:focus {
        text-decoration: none;

        color: $white;
    }
}
.text {
    text-align: left;
}
.newsletter {
    padding-top: 30px;
    padding-bottom: 20px;

    color: $white;
    background-color: $violet;
    .call-to-subscribe {
        line-height: 26px;
    }

    .subscribe {
        font-size: 16px;

        width: 250px;
        margin-bottom: 10px;
        padding: 5px 15px 5px 15px;

        color: $text-color;
        border: none;
        border: 2px solid $pink;
        border-radius: 24px;
        outline: 0;
    }
    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $lightgray;
    }

    :-moz-placeholder {
        opacity: 1;
        /* Mozilla Firefox 4 to 18 */
        color: $lightgray;
    }

    ::-moz-placeholder {
        opacity: 1;
        /* Mozilla Firefox 19+ */
        color: $lightgray;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $lightgray;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $lightgray;
    }

    .submit {
        font-size: .8em;

        width: 120px;
        margin-bottom: 10px;
        padding: 5px;

        color: $white;
        border-color: transparent;
        border-radius: 24px;
        outline: 0;
        background: $pink;
    }
}
.dirty {
    font-family: $title-font;
    font-size: 1.3em;
    font-weight: 700;

    color: $violet;
}

.homepage-hero-module {
    position: relative;

    border-right: none;
    border-left: none;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    max-height: 85vh;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    @media(max-width: 600px) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    //background: $violet;
}
.video-container .poster img {
    position: absolute;
    bottom: 0;

    width: 100%;
}
.video-container .filter {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: .6;
    background-color: $violet;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
}
.video-container video.fillWidth {
    //width: 100%;
}
.venue-icon {
    margin-top: 50px;
    img {
        max-width: 250px;
    }
}

.speaker {
    text-align: center;
    h3 {
        font-family: $title-font;
        font-size: 1.2em;
        font-weight: 700;

        margin-top: 30px;
        margin-bottom: 30px;

        color: $violet;
    }
    .bio {
        font-size: .8em;

        text-align: left;
    }
    .tags {
        span {
            font-size: 12px;

            display: inline-block;

            margin-right: 10px;
            padding: 2px;
            padding-right: 8px;
            padding-left: 8px;

            color: #fff;
            border-radius: 20px;
            &.charla {
                background-color: $lightblue;
            }
            &.taller {
                background-color: $green;
            }
            &.kata {
                background-color: $lightviolet;
            }
        }
    }
}
#ticketea {
    padding-bottom: 60px;

    background-color: $almostwhite;
}
.ticketea {
    a {
        border: none;
        box-shadow: none;
        &:hover {
            background-color: transparent;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) {
    .title {
        font-size: 60px;
    }
    .menu-desktop {
        display: none;
    }
    header {
        #menuToggle {
            display: block;
        }
    }
	.newsletter{

		text-align: center;
		input{
			display: block;
			margin: auto;
		}
	}
}

@media (max-width: 768px) {
    .title {
        font-size: 60px;
    }
    .title-swirl {
        display: block;

        margin: auto;
    }
	.video-container{
		max-height: 100%;
	}
}

@media (max-width: 480px) {

	#landing{
		.logo{
			margin-top: 30px;
		}
		.withback{
			display: none
		}
		.title-swirl{
			display: none;
		}
		.subtitle{
			font-size: 1em;
		}
	}
}
